<div class="row">
  <div class="col-md-6">
    <p><strong>Юридическое лицо:</strong> <%= @agent.low_name %></p>
    <p><strong>Почтовый адрес агента:</strong> <%= @agent.adress %></p>
    <p><strong>Контактный телефон агента:</strong> <%= @agent.phone %></p>
    <h3>Примечания</h3>
    <%= raw @agent.comment %>
  </div>
  <div class="col-md-6">
  </div>
</div>
