
<div class="row title">
  <h1>Создание комиссии</h1>
</div>
<ol class="breadcrumb">
  <li><%= link_to 'Назад', agents_path %></li>
</ol>

<% if notice %>
    <div class="alert alert-info alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>Внимание!</strong> <%= notice %>
    </div>
<% end %>
<%= render 'form' %>
</table>
