<table class="table table-condensed table-striped">
  <thead>
  <tr>
    <th>Идентификтор</th>
    <th>Название</th>

    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @roles.each do |role| %>
      <tr>
        <td><%= link_to role.name, role %></td>
        <td><%= role.description %></td>
        <td><%= link_to raw('<span class="glyphicon glyphicon-pencil"></span>'), edit_role_path(role) %></td>
        <td><%= link_to raw('<span class="glyphicon glyphicon-trash"></span>'), role, method: :delete, data: { confirm: 'Уверены что хотите удалить?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>
