<div class="row">
  <div class="col-md-6">
    <dl class="dl-horizontal">
      <dt>Идентификатор</dt>
      <dd><%= @role.name %></dd>
      <dt>Название</dt>
      <dd><%= @role.description %></dd>
      <dt>Ассоциированные пользователи</dt>
      <dd><%=@assosciated_users %></dd>
    </dl>
  </div>
</div>
