// Place all the styles related to the Offers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
<<<<<<< HEAD


article.offer_card {

  background: #fff;

  h1{
    font-size: 20px;
    font-weight: 700;
  }
  .date{
    position: absolute;
    top: 0px;
    right: 0px;
    line-height: 1.2em;
    word-wrap: break-word;
    color: #aa9c84
  }
}


=======
>>>>>>> CreateOffers
